.wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-6);
  max-height: 95%;
  padding-top: var(--spacing-6);
  overflow-y: hidden;
}

.buttonWrapper {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}
