@import '/src/styles/shared/breakpoints.scss';

.solutions {
  justify-self: start;
}

.imageWrapper {
  padding: var(--spacing-8) 0;
}

.image {
  overflow: hidden;
  border-radius: var(--spacing-9);

  & img {
    width: var(--spacing-3);
    height: var(--spacing-3);
  }
}
